html{
font-family: 'Lora', serif;
box-sizing: border-box;
}
.inset-left {
  float:left;
  width:40%;
  margin-right: 15px;
}


.inset-right {
  float:right;
  width:40%;
  margin-right: 15px;
  clear:right;
}

.inset-topleft {
  float:left;
  width:10%;
}

.inset-topright {
  float:right;
  width:10%;
}

*, *::before, *::after {
  box-sizing:inherit;
}

header {
  background-color:#cd5b34;
  color:white;
  border-color:#a33f3a;
}
h1 {
  text-align:center;
  margin:0;
  padding: 1em;
  border-color:#a33f3a;
}
nav a {
  color: white;
  background-color:#cd5b34;
  text-decoration:none;
  display:inline-block;
  padding:0.7em;
  margin:0;
  font-size:1.3rem;
  border-color:#a33f3a;
}

nav a:hover {
  background-color: #d79995;
}

ol {
  list-style: none;
  padding: 0;
  text-align:center;
  margin:0;
}

ol li {
  display: inline;
}

figcaption {
  text-align:center;
  font-style:italic;
  color:white;
}
footer {
  background-color: #cd5b34;
  color: #d79995;
}

.p2{
clear:both;
}
