html{
font-family: 'Lora', serif;
box-sizing: border-box;
line-height: 2rem;
}
.inset-left {
  float:left;
  width:40%;
  margin-right: 15px;
  padding: 15px;
}
.inset-left-2 {
  float:left;
  width:40%;
  margin-right: 15px;
  clear:left;
  border: 1px solid lightgrey;
  margin:10px;
}

.inset-right {
  float:right;
  width:40%;
  margin-right: 15px;
  clear:right;
  border: 1px solid lightgrey;
  margin:10px;
}

.inset-topleft {
  float:left;
  width:10%;
}

.inset-topright {
  float:right;
  width:10%;
}

*, *::before, *::after {
  box-sizing:inherit;
}

header {
  background-color:#cd5b34;
  color:white;
  border-color:#a33f3a;
  position: relative;
  text-align:center;
  display:block;
  padding: 2em 0 2em 0;
}

h1 {
  text-align:center;
  margin:0;
  padding: 1em;
  border-color:#a33f3a;
}
h2 {
  text-align: center;
  font-style: bold;
  color:white;
  background-color:#cd5b34;
  padding:1rem;
  margin:0;
}
h3 {
  text-align:center;
  font-style: bold;
  padding: 15px;
  font-size: 1.5rem;
}
nav a {
  color: white;
  background-color:#cd5b34;
  text-decoration:none;
  text-align:center;
  display:block;
  padding:0.5rem;
  margin: 0;
  font-size:1.3rem;
  border:1px solid #a33f3a;
  width:100%;
}
nav li {
  float:left;
  width:33%;
  margin:0;
}

nav a:hover {
  background-color: #d79995;
}

nav ol {
  list-style: none;
  text-align:center;
  display:block;

}
ol {
  padding:0;
  width:100%;

}

.row {
  overflow: hidden;
}

.row figure {
  float: left;
  width:50%;
  margin:0;
  position: relative;
}

.row figcaption {
  bottom: 0;
  left:0;
  width:100%;
  background-color:#cd5b34;
  color:white;
  text-align:center;
  padding:0;
  font-style:italic;

}

.row .full {
  width:100%;
}

body {margin:0}

footer {
  background-color: #cd5b34;
  color: #d79995;
  padding:0.5rem 1rem;
  font-size: 0.75rem;
  text-align:center;

}
p {
  padding: 15px;
}
